#homeIcon{
  margin-right: 24;
  color: blue;
}

#headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#homeButton{
  text-align: center;
}

#headerLogo{
  align-self: center;
}
