#homeIcon{
  margin-right: 24;
  font-size: 50px;
}

#headerContainer{
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  */
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-items: center;
}


#homeButtonLarge{
  text-align: center;
  display: flex;
}

#newPostBtnLarge{
  display: flex;
}

#headerLogo{
  align-self: center;
}

#bannerDiv{
  display: flex;
  align-self: center;
  width: 100%;

}

#smallDiv{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

#homeButtonSmall{
  text-align: center;
}

#newPostBtnSmall{
  text-align: center;
}

@media screen and (max-width: 500px) {
  #smallDiv{
    align-self: center;
    text-align: center;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #homeButtonLarge{
    display: none;
  }

  #newPostBtnLarge{
    display: none;
  }
}
