#homeIcon{
  margin-right: 24;
  font-size: 50px;
}

#headerContainer{
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  */
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-items: center;
}

#homeButton{
  text-align: center;
}

#headerLogo{
  align-self: center;
}

#bannerDiv{
  display: flex;
  align-self: center;
}
