#fileSelect {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  background-color: grey;
  text-align:center;
}

#fileElem{
    display: none;
}

#fileSelect > img {
  max-width:100%;
  max-height:100%;
}

#uploadImage{
  height: 100%;
  width: 100%;
}
