#boardPostImg{
  max-width:100%;
  max-height:100%;
}

#boardPost{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#boardCard{
  padding-bottom: 10px;
}

#headField{
  margin-top: -10px;
  margin-left: -25px;
}

#imgDiv{
  max-width: 200px;
  max-height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}


#imgDivExpanded{
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

#openButton{

}

#postHead{
  flex: 1;
}
