#postImg{
  max-width: 100%;
  max-height: 200px;
}

#postImgExpanded{
  max-width: 100%;
}

#post{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#replyBtn{
  float: right;
  display: block;
}


#postHead > CardHeader{
  margin-top: -10px;
}

#postHead{
  justify-content: space-between;
  flex: 1;
}
