.post{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.post > div > div{
  padding-bottom: 10px;
}

#replies > div{
  margin-left: 20px;
}

#headField > div{
  margin-top: -10px;
}

#ThreadComponentHead{
  justify-content: space-between;
  float: left;
  flex: 1;
  width: 100%;
}

.postHead{
  transition: 0.5ms;
  flex-direction: row;
  justify-content: space-between;
}

.postHead:hover{
  background-color: #444444;
}

.postHead:hover > #openThread{
  color: white
}

#replyBtn{
  float: right;
  display: block;
  z-index: 99;
}

#imgDiv{
  max-width: 200px;
  max-height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#imgDivExpanded{
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

#openThread{
  text-align: right;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.54);
  padding-right: 20px;
  padding-top: 8px;
}
