.appHeader{
  padding-left: 0;
  padding-right: 0;
}

#headerContainer{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  padding-top: 20px;
  justify-items: center;
}

#bannerDiv{
  display: flex;
  align-self: center;
}

#linksAppBar{
  display: none;
}

#headerContainer {
  grid-template-columns: 1fr;
  overflow: hidden;
}

#linksAppBar{
  display: flex;
}

#linksAppBar > div > h1{
  margin-right: auto;
  padding-left: 100px;
}

#bannerDiv{
  display: flex;
  align-self: center;
}

.HeaderButtons {
  margin: 5px;
}
