#homeIcon{
  margin-right: 24;
  font-size: 50px;
}

.appHeader{
  padding-left: 0;
  padding-right: 0;
}


#headerContainer{
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  */
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  padding-top: 20px;
  justify-items: center;
}

#homeButtonLarge{
  text-align: center;
  display: flex;
}

#newPostBtnLarge{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#headerLogo{
  align-self: center;
}

#bannerDiv{
  display: flex;
  align-self: center;
}

#smallDiv{
  align-self: center;
  text-align: center;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

#homeButtonSmall{
  text-align: center;
}

#newPostBtnSmall{
  text-align: center;
}

#linksAppBar{
  display: none;
}

@media screen and (max-width: 500px) {
  #headerContainer {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  #linksAppBar{
    display: flex;
  }

  #linksAppBar > div > h1{
    padding-left: 40px;
  }

  #smallDiv{
    align-self: center;
    text-align: center;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #bannerDiv{
    display: flex;
    align-self: center;
  }

  #linksList{
    display: none;
  }

  #homeButtonLarge{
    display: none;
  }

  #newPostBtnLarge{
    display: none;
  }
}
