
body {
  background: gray;
}

.app {
  text-align: center;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}

@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 500px) {

  #smallDiv{
    align-self: center;
    text-align: center;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    visibility: visible;
  }
}
